<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.akkaha.egg.db.client.UserOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.akkaha.egg.db.model.UserOrder">
        <id column="id" property="id" />
        <result column="seller" property="seller" />
        <result column="phone" property="phone" />
        <result column="car" property="car" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, seller, phone, car, status, remark, created_at AS createdAt, updated_at AS updatedAt
    </sql>

</mapper>
